In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import category_encoders as ce
import os

In [2]:
path="../Data/"
os.listdir(path)

['Fixated.csv', 'Mentah.xlsx', 'Weusethis.csv']

In [6]:
#Get df
df=pd.read_csv(path+"Weusethis.csv")

#Change tolower
df["KELURAHAN"].unique()
df["KELURAHAN"]=df['KELURAHAN'].map(str.lower)

encoder={}
#Change target to binary 
targetname=['TIDAK BANJIR', 'BANJIR']
for i in range(len(targetname)):
    df["Kejadian"][df["Kejadian"]==targetname[i]]=i 
df["Kejadian"]=df["Kejadian"].astype("int64")
encoder["Kejadian"]=dict(zip([str(i) for i in range(2)], targetname))

#Turn Rain column with ["Yes" / "No"] value to binary
temp=["NO", "YES"]
for i in df.columns:
    checker=0
    for j in range(len(temp)):
        if temp[j] in df[i].unique() : df[i][df[i]==temp[j]]=j; checker=1
    if checker==1 : encoder[i]=dict(zip([str(x) for x in range(2)], temp))

#Turn TEPS_OF_DAY to ordinal, sorted from no rain
temp=["TIDAK HUJAN", "HUJAN RINGAN", "HUJAN SEDANG", "HUJAN LEBAT"]
for i in range(len(temp)):
    df=df[df!=temp[i]].fillna(i)
encoder["TEPS_OF_DAY"]=dict(zip([str(x) for x in range(len(temp))], temp))

#Turn "Keluaran" into onehots
onehotsencoder=ce.OneHotEncoder(cols=["KELURAHAN"], use_cat_names=True)
df=onehotsencoder.fit_transform(df)
df.head()

C:\Users\Rhey\AppData\Local\Temp\ipykernel_5244\2612307756.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Kejadian"][df["Kejadian"]==targetname[i]]=i
C:\Users\Rhey\AppData\Local\Temp\ipykernel_5244\2612307756.py:21: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if temp[j] in df[i].unique() : df[i][df[i]==temp[j]]=j; checker=1
C:\Users\Rhey\AppData\Local\Temp\ipykernel_5244\2612307756.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if temp[j] in df[i].unique() : df[i][df[i]==temp[j]]=j; checker=1

,Kejadian,KELURAHAN_balekambang,KELURAHAN_bambu apus,KELURAHAN_batu ampar,KELURAHAN_bidara cina,KELURAHAN_cakung timur,KELURAHAN_cawang,KELURAHAN_cililitan,KELURAHAN_cipayung,KELURAHAN_cipinang,...,RAIN_D-1,RAINFALL_D-1,RAIN_LAST3D,ARAINFALL_LAST3D,RAIN_LAST7D,RAINFALL_LAST7D,TEPS_OF_DAY,CIPINANG HULU,SUNTER HULU,PULO GADUNG
0,1,1,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,160,250,450
1,1,1,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,83.0,0,90,140,330
2,1,1,0,0,0,0,0,0,0,0,...,0,0.0,0,2.0,0,2.0,0,75,90,330
3,1,1,0,0,0,0,0,0,0,0,...,1,66.0,1,74.0,0,85.0,3,170,300,580
4,1,1,0,0,0,0,0,0,0,0,...,1,41.0,1,87.0,0,154.0,2,160,175,620

In [7]:
df.to_csv(path+"encoded.csv")