In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import os

import category_encoders as ce

In [6]:
path="../Data/"
os.listdir(path)

['encoded.csv', 'Fixated.csv', 'Mentah.xlsx', 'Weusethis.csv']

Label Encode!

In [29]:
#Get df
df=pd.read_csv(path+"Weusethis.csv")

#Change tolower
df["KELURAHAN"].unique()
df["KELURAHAN"]=df['KELURAHAN'].map(str.lower)

encoder={}
#Change target to binary 
targetname=['TIDAK BANJIR', 'BANJIR']
for i in range(len(targetname)):
    df["Kejadian"][df["Kejadian"]==targetname[i]]=i 
df["Kejadian"]=df["Kejadian"].astype("int64")
encoder["Kejadian"]=dict(zip([str(i) for i in range(2)], targetname))

#Turn Rain column with ["Yes" / "No"] value to binary
temp=["NO", "YES"]
for i in df.columns:
    checker=0
    for j in range(len(temp)):
        if temp[j] in df[i].unique() : df[i][df[i]==temp[j]]=j; checker=1
    if checker==1 : encoder[i]=dict(zip([str(x) for x in range(2)], temp))

#Turn TEPS_OF_DAY to ordinal, sorted from no rain
temp=["TIDAK HUJAN", "HUJAN RINGAN", "HUJAN SEDANG", "HUJAN LEBAT"]
for i in range(len(temp)):
    df=df[df!=temp[i]].fillna(i)
encoder["TEPS_OF_DAY"]=dict(zip([str(x) for x in range(len(temp))], temp))

C:\Users\Rhey\AppData\Local\Temp\ipykernel_2328\271395425.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Kejadian"][df["Kejadian"]==targetname[i]]=i
C:\Users\Rhey\AppData\Local\Temp\ipykernel_2328\271395425.py:21: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if temp[j] in df[i].unique() : df[i][df[i]==temp[j]]=j; checker=1
C:\Users\Rhey\AppData\Local\Temp\ipykernel_2328\271395425.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if temp[j] in df[i].unique() : df[i][df[i]==temp[j]]=j; checker=1

## Unhandled Data

In [30]:
#change "keluarahan" as one hots
onehotencoder=ce.OneHotEncoder(cols=["KELURAHAN"], use_cat_names=True)
unhandleddata=onehotencoder.fit_transform(df)

In [31]:
#unhandleddata save
unhandleddata.to_csv(path+"Encoded/undhandled.csv")

## Handle Imbalanced
### Resampling

In [32]:
from sklearn.utils import resample
#create two different dataframe of majority and minority class 
df_majority = df[df['Kejadian']==0] 
df_minority = df[df['Kejadian']==1] 
# upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,    # sample with replacement
                                 n_samples= len(df_majority), # to match majority class
                                 random_state=42)  # reproducible results
# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_minority_upsampled, df_majority])

In [33]:
#Check tot distribution by each "kelurahan"
thelist=[]
for i in df_upsampled["KELURAHAN"].unique():
    temp=df_upsampled.iloc[:,:2].values
    temp=temp[temp[:,1]==i]
    len(temp[temp[:,0]==1])
    thelist.append([i, len(temp[temp[:,0]==0]), len(temp[temp[:,0]==1]), len(temp[temp[:,0]==0])+len(temp[temp[:,0]==1])])
pd.DataFrame(thelist, columns=["kelurahan", "n tidak banjir", "n banjir", "Total"])

               kelurahan  n tidak banjir  n banjir  Total
0   halim perdana kusuma              10         5     15
1           penggilingan              10        13     23
2            duren sawit              20        33     53
3             batu ampar              20        19     39
4             jatinegara              20        32     52
5        cipinang melayu              30        21     51
6         pisangan timur              10        12     22
7            bidara cina              30        48     78
8         kampung melayu              30        83    113
9             rawa bunga              20         7     27
10           rawa terate              10        18     28
11           pulo gadung              10        18     28
12               ciracas              20         8     28
13                gedong              20        10     30
14                  jati              10         7     17
15            kebon pala              20        24     44
16         kebon manggis              20        14     34
17             cililitan              30        59     89
18           balekambang              30        32     62
19               klender              10        13     23
20                cawang              30        48     78
21          pondok bambu              20        21     41
22            kramatjati              10        21     31
23            rawamangun              10        10     20
24               makasar              20        15     35
25               susukan              10        14     24
26              rambutan              30        15     45
27           malaka sari              10         6     16
28              cipayung              20        11     31
29          lubang buaya              20        11     31
30                 dukuh              30        13     43
31        cipinang muara              20        18     38
32            kayu putih              10        16     26
33        kampung tengah              30        14     44
34            kayu manis              10        10     20
35         pisangan baru              20        14     34
36       utan kayu utara              10         9     19
37         pondok kelapa              20        15     35
38           pinangranti              10         9     19
39     cipinang cempedak              20        11     31
40            bambu apus              10         1     11
41               pekayon              10         3     13
42              cipinang              10         3     13
43     utan kayu selatan              10         4     14
44          cakung timur              10         2     12

In [34]:
df_upsampled[df_upsampled["KELURAHAN"]=="halim perdana kusuma"]

,Kejadian,KELURAHAN,RAIN_D-1,RAINFALL_D-1,RAIN_LAST3D,ARAINFALL_LAST3D,RAIN_LAST7D,RAINFALL_LAST7D,TEPS_OF_DAY,CIPINANG HULU,SUNTER HULU,PULO GADUNG
102,1,halim perdana kusuma,1,39.8,1,26.3,1,101.8,2,115,200,735
102,1,halim perdana kusuma,1,39.8,1,26.3,1,101.8,2,115,200,735
102,1,halim perdana kusuma,1,39.8,1,26.3,1,101.8,2,115,200,735
102,1,halim perdana kusuma,1,39.8,1,26.3,1,101.8,2,115,200,735
102,1,halim perdana kusuma,1,39.8,1,26.3,1,101.8,2,115,200,735
575,0,halim perdana kusuma,0,0.0,0,0.0,0,33.0,0,95,80,330
576,0,halim perdana kusuma,0,0.0,0,0.0,0,2.5,0,80,70,330
577,0,halim perdana kusuma,0,0.0,0,0.0,0,0.0,0,75,50,330
578,0,halim perdana kusuma,1,14.0,0,12.0,0,13.0,1,110,70,370
579,0,halim perdana kusuma,0,0.0,0,0.0,0,23.5,0,75,50,400
580,0,halim perdana kusuma,0,0.0,0,33.5,0,80.0,0,90,100,330
581,0,halim perdana kusuma,0,0.0,0,0.0,0,0.0,0,80,55,330
582,0,halim perdana kusuma,1,4.0,0,0.0,0,68.5,1,90,90,330
583,0,halim perdana kusuma,1,1.0,0,0.0,0,0.0,1,85,50,330
584,0,halim perdana kusuma,0,0.0,0,0.0,0,0.0,0,90,60,330

In [35]:
df_upsampled.to_csv(path+"Encoded/upsampled.csv")

 That's just a shit way to get more data, i think :Sob:. Basically just multiplcating the same data.

### SMOTE

In [44]:
from imblearn.over_sampling import SMOTE

#All cols Needs to be changed to  numeric :/
temp=df.copy()
lala=ce.OrdinalEncoder(cols=["KELURAHAN"]).fit(temp)
temp=lala.transform(temp)

sm = SMOTE(sampling_strategy='minority', random_state=42)
# Fit the model to generate the data.
oversampled_X, oversampled_Y = sm.fit_resample(temp.drop('Kejadian', axis=1), temp['Kejadian'])
oversampled = pd.concat([pd.DataFrame(oversampled_Y), pd.DataFrame(oversampled_X)], axis=1)

In [82]:
lala.get_feature_names_out

<bound method BaseEncoder.get_feature_names_out of OrdinalEncoder(cols=['KELURAHAN'],
               mapping=[{'col': 'KELURAHAN', 'data_type': dtype('O'),
                         'mapping': balekambang              1
bambu apus               2
batu ampar               3
bidara cina              4
cakung timur             5
cawang                   6
cililitan                7
cipayung                 8
cipinang                 9
cipinang cempedak       10
cipinang melayu         11
cipinang muara          12
ciracas                 13
dukuh                   14
duren sawit             15
gedong                  16
halim perdana kusuma    17
jati                    18
jatinegara              19
kampung melayu          20
kampung tengah          21
kayu manis              22
kayu putih              23
kebon manggis           24
kebon pala              25
klender                 26
kramatjati              27
lubang buaya            28
makasar                 29
malaka sari             30
pekayon                 31
penggilingan            32
pinangranti             33
pisangan baru           34
pisangan timur          35
pondok bambu            36
pondok kelapa           37
pulo gadung             38
rambutan                39
rawa bunga              40
rawa terate             41
rawamangun              42
susukan                 43
utan kayu selatan       44
utan kayu utara         45
NaN                     -2
dtype: int64}])>

In [109]:
lala.category_mapping[0]["mapping"].item[

TypeError: 'method' object is not subscriptable

In [100]:
oversampled["Kejadian"][oversampled["Kejadian"]==1]

0       1
1       1
2       1
3       1
4       1
       ..
1575    1
1576    1
1577    1
1578    1
1579    1
Name: Kejadian, Length: 790, dtype: int64

In [89]:
temp=[]
for i in oversampled["KELURAHAN"].unique():
    oversampled["Kejadian"][oversampled["Kejadian"]==i]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])